<h1>Welcome to the Angular Play App!</h1>

<h2> This is the Landing Page!</h2>

<div class="div-center">
    <h4>Go to other pages: </h4>
    <ul style="padding-right: 25px;">
        <li><span><a title="ELK Page" routerLink="/elk">ELK</a></span></li>
        <li><span><a title="Matomo Page" routerLink="/matomo">Matomo</a></span></li>
        <li><span><a title="Websockets Page" routerLink="/websockets">Websockets</a></span></li>
        <li><span><a title="Backend Page" routerLink="/backend">Backend</a></span></li>
    </ul>

</div>

<div class="div-center" style="padding-top: 25px;">
    <img title="Landing page lama, I like!" alt="Picture of lamas." src="assets/landingpage_lama.jpg" />
</div>